---
import TransferTabs from "./TransferTabs.astro";
---

<div class="relative">
  <div class="absolute -inset-2 rounded-2xl bg-blue-50/70"></div>
  <div class="relative">
    <TransferTabs />
  </div>
</div>
