# build output
dist/

# generated types
.astro/

# Cloudflare local runtime state
.wrangler/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
preview.*.log
wrangler.preview.generated.json

# environment variables
.env
.env.production
.dev.vars

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
